bcrypt==4.3.0
bleach==6.2.0
email_validator==2.2.0
Flask==3.1.0
Flask-Admin==1.6.1
Flask-Bcrypt==1.0.1
Flask-CKEditor==1.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
Jinja2==3.1.6
python-dotenv==1.1.0
SQLAlchemy==2.0.40
WTForms==3.1.2  # (attribute error when creating user from admin page using WTForms 3.2.1 use WTForms<3.2.1)
gunicorn==21.2.0
psycopg2-binary==2.9.6