{% extends 'base.html' %}

{% block style %}
    <link href="{{ url_for('static', filename='css/login-register.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100-custom mt-5">
    <div class="form-container">

        <h2 class="mb-4 heading">User Login</h2>

        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}

            <!-- Email -->
            <div class="form-group mb-3">
                {{ form.email.label }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <small class="text-danger d-block">*{{ error }}</small>
                    {% endfor %}
                {% endif %}
                {{ form.email(class="form-control") }}
            </div>

            <!-- Password -->
            <div class="form-group mb-3">
                {{ form.password.label }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <small class="text-danger d-block">*{{ error }}</small>
                    {% endfor %}
                {% endif %}
                {{ form.password(class="form-control") }}
            </div>

            <!-- Remember & Forgot -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                <div class="forgot-password">
                    <a href="#!">Forgot password?</a>
                </div>
            </div>

            <!-- Submit -->
            {{ form.submit(class="btn btn-primary btn-block mb-3") }}

            <!-- Register link -->
            <div class="text-center">
                <p class="mb-0">Not a member? 
                    <a href="{{ url_for('users.registration') }}">Register</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
